* {
  color: white;
}
body{
  background: rgba(126, 10, 10, 0.75);
  margin: 0;
}
.reservation{
  background-image: url("../img/farfalle-pates-ble-dur-boulettes-viande-filet-poulet-au-four-sauce-tomate-salade-dans-bol.png");
  background-size: 70dvmax;
  background-repeat: no-repeat;
  background-position: 48dvmax 8dvmax;
}
.Home{
  background-image: url("../img/the-bishop-at-the-berkeley-restaurants-header-1920_720.jpg");
  background-repeat: no-repeat;
  background-size: 110dvmax 82dvb ;
  background-position: 0 -25dvmin;
}
.Home .navbar{
  background: rgba(0,0,0,.40);
}
.Home header a:hover{
  background: rgba(255,255,255,.50);
}
.tablehome{
  background-image: url("../img/table-bois-vide-fond-blanc-isole-montage-affichage-espace-copie-pour-produit_1627-4288-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 100dvmax 20dvi;
  height: 53.5dvh;
  background-position: 0 34dvh ;
}
.tablehome img{
  width: 24dvw;
  height: 24dvw;
  margin-left: 37dvmax;
}
.logo{
  border-radius: 50%;
  margin: 12.5px;
  background: rgba(255, 255, 255, 0.75);
}
img{
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.75);
}
/*********************navbar*********************/
nav{
  position: fixed;
  z-index: 1;
}
nav{
  position: fixed;
  width: 100%;
  padding-right: 10px;
  background: rgba(0,0,0,0.33);
}
.navbar{
  display:flex;
  justify-content: space-between;
}
.navbar .icon {
  display: none;
}
.navbar ul li{
  display: inline-block;
  padding:5px 10px;
}
.navbar ul li a{
  text-decoration: none;
}
/************************************************/
.titletop{
  font-size: 40px;
  margin: 0 2dvmax;
  color: white;
}
input{
  width: 25dvmax;
  height: 40px;
  background: #D9D9D9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  color: black;
  margin-top: 5px;
}
::placeholder{
  color:gray;
}
.date{
  color: gray;
  margin: 1dvmax 2dvmax;
  width: 25lvmax;
}
.time{
  width: 25dvmax;
  margin: 1dvmax 2dvmax;
}
.nmbppl{
  width: 54.5dvmax;
  margin: 1dvmax 2dvmax;
}
.name{
  margin: 1dvmax 2dvmax;
}
.firstname{
  margin: 1dvmax 2dvmax;
}
.surname{
  width: 24.5dvmax;
  margin: 1dvmax 2dvmax;
}
.mail{
  margin: 1dvmax 2dvmax;
}
.tel{
  width: 24.5dvmax;
  margin: 1dvmax 2dvmax;
}
.comment{
  width: 54.5dvmax;
  height: 80px;
  margin: 1dvmax 2dvmax;
}
#rsrv{
  width: 100px;
  height: 40px;
  background: rgba(107, 13, 13, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
  border-radius: 24px;
  margin: 2dvmax;
  color: white;
}
#rsrv:hover{
  background: rgba(255, 255, 255, 0.66);
  color: rgb(81, 7, 7);
}
div{
  display: flex;
}
.review{
  border-radius: 5px;
  color: white;
  background: olivedrab;
  height: 30px;
  width: 100px;
  margin-left: 40lvmax;
  margin-bottom: 20px;
}
/*********************footer*********************/
footer{
  bottom: 0;
  text-align: center;
  height: max-content;
  width: 100%;
  background: rgba(0,0,0,0.33);
  padding: 5px 0 5px 0;
}
.socials, .footer-links{
  display: flex;
  justify-content: center;
}
footer p{
  display: block;
  padding: 0 10px 0 10px;
}
footer div{
  display: initial;
  margin:-4px 5px;
}
/*********************about*********************/
.marginstart{
  display: block;
  height: 85px;
}
.marginend{
  height: 160px;
}
iframe{
  margin-top: 3dvmax;
  margin-left: 2%;
  border:unset;
  width: 35dvi;
  height: 35dvi;
  box-shadow: black 5px 5px 10px;
  border-radius: 10%;
}
#About,#Comment,#Reservation,#Home,#Menu{
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  padding: 2px;
}
header a:hover{
  color: black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  padding: 2px;
}
.display_data_text{
  display: inline-grid;
  margin-left: 5dvmax;
}
.display_data_text td{
  padding: 5px;
  min-width: 150px;
  max-width: 50dvmax;
  min-height: 30px;
  background: white;
  border-radius: 0 5px 5px 5px;
  margin: 5px 5px 20px;
  text-align: start;
  color: black;
  border: 2px solid black;
  border-right-width: 1px;
  border-top: unset;

}
.Comment_fp{
  display: block;
  align-items: center;
  margin-left: 17.5lvw;
}
.info{
  display: inline-block;
  margin-top: 2%;
  margin-left: 10dvmax;
  height: max-content;
  width: 80%;
  border-radius: 20px;
  background: olivedrab;
  box-shadow: black 5px 5px 10px;
}
.info h2{
  margin-left: 10px;
}
.info p{
  margin-top: -5px;
  margin-left: 10px;
}
.info td{
  width: 42%;
}
.infotd2{
  margin-left: 20%;
  margin-bottom: -100px;
}
.infotd2 img{
  margin-bottom: -5px;
}
.infotd3{
  margin-left: 20%;
}
.infotd3 img{
  margin-bottom: unset;
  margin-left: -5%;
}
.footerhome{
  background: rgb(157, 71, 71);
}
.Log img{
  width: 40dvmax;
  height: 40dvmax;
}
.logtd1{
  background-image: url("../img/pexels-chris-f-1283219.jpg");
  background-size: 150dvh;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  height: 100dvh;
  width: 50dvmax;
  text-align: center;
}
.logtd2{
  background: olivedrab;
  height: 100dvh;
  width: 50dvmax;
  margin-top: -200px;
  margin-left: 5dvmax;
}
.loglog{
  height: 25px;
  border-radius: 10px 0 0 10px;
  color: black;
  border-right: unset;
}
.logsign{
  height: 25px;
  border-radius: 0 10px 10px 0;
  background: forestgreen;
  border-left: unset;
  margin-left: -4px;
}
.in{
  display: block;
  text-align: center;
}
.in a{
  text-decoration: unset;
  color: black;
}
.login,.signin{
  margin-top: 20px;
  width: 90px;
  height: 40px;
  background: limegreen;
  border: unset;
  border-radius: 15px;
  box-shadow: black 0 2px 5px 2px;
}
.logtd2 h3{
  color: black;
}
.sin{
  display: inline-block;
}
.sin .name{
  width: 15dvmax;
}
.sin .firstname{
  width: 15dvmax;
}
.sin .surname{
  width: 15dvmax;
}
.sin .password{
  margin-left: 2dvmax;
  margin-bottom: 1dvmax;
}
.sin .confpassword{
  margin-left: 2dvmax;
  margin-bottom: 1dvmax;
}
.signin{
  margin-left: 17.5dvmax;
}
.notation{
  margin-top: 5dvmax;
  margin-left: 5dvmax;
  margin-bottom: 2dvmax;
}
.etoilevide{
  height: 3dvmax;
}
#etoile1{
  border-radius: 1.2dvmax 0 0 1.2dvmax;
}
#etoile2,#etoile3,#etoile4{
  border-radius: unset;
}
#etoile5{
  border-radius: 0 1.2dvmax 1.2dvmax 0;
}
.somemeal{
  margin-left: 5dvmax;
  display: block;
}
.somemeal img{
  height: 30dvmax;
  width: 30dvmax;
  border-radius: 10px;
  box-shadow: black 5px 5px 10px;
  margin-left: 5dvmax;
  margin-top: 3dvmax;
}
.somemeal p{
  display: inline;
  margin-left: 15dvmax;
  margin-right: 15dvmax;
}
.meal{
  margin-top: -16dvmax;
  margin-bottom: 10dvmax;
  display: flex;
}
.meal img{
  height: 10dvi;
  width: 25dvi;
  border-radius: 10px;
  box-shadow: black 5px 5px 10px;
  margin-left: 5dvmax;
  margin-top: 3dvmax;
}
#meal1,#meal2{
  margin-top: -2dvmax;
}





/*

body{
  background: rgba(126, 10, 10, 0.75);
  margin: 0;
}
header{
  background: rgba(0,0,0,0.33);
  height: 75px;
  width:100%;
  color: white;
  text-align: left;
  box-shadow: 5px 0 10px 0 black;
  position: fixed;
  margin-top: -15px;
}
header .td1{
  text-align: left;
}
header.td2{
  text-align: right;
}
header a{
  text-decoration: none;
  color: white;
}
header .menu{
  margin-top: -50px;
}
td{
  border: solid black 1px;
}
header a:hover{
  color: black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  padding: 2px;
}
.headerimg:hover{
  color: unset;
  background: unset;
  padding: unset;
}
.menu{
  margin: 0px 15dvmax;
  margin-left: 50dvmax
}
img{
  border-radius: 50%;
  margin: 12.5px;
  background: rgba(255, 255, 255, 0.75);
}
.titlerev{
  font-size: 40px;
  margin: 3dvmax 2dvmax;
  color: white;
}
input{
  width: 25dvmax;
  height: 40px;
  background: #D9D9D9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  color: black;
  margin-top: 5px;
}
::placeholder{
  color:gray;
}
.date{
  color: gray;
  margin: 1dvmax 2dvmax;
  width: 25lvmax;
}
.time{
  width: 25dvmax;
  margin: 1dvmax 2dvmax;
}
.nmbppl{
  width: 54.5dvmax;
  margin: 1dvmax 2dvmax;
}
.name{
  margin: 1dvmax 2dvmax;
}
.surname{
  width: 24.5dvmax;
  margin: 1dvmax 2dvmax;
}
.mail{
  margin: 1dvmax 2dvmax;
}
.tel{
  width: 24.5dvmax;
  margin: 1dvmax 2dvmax;
}
.comment{
  width: 54.5dvmax;
  height: 80px;
  margin: 1dvmax 2dvmax;
}
#rsrv{
  width: 100px;
  height: 40px;
  background: rgba(107, 13, 13, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
  border-radius: 24px;
  margin: 2dvmax;
  color: white;
}
#rsrv:hover{
  background: rgba(255, 255, 255, 0.66);
  color: rgb(81, 7, 7);
}
div{
  display: flex;
}
footer{
  box-shadow: 5px 0 10px 0 black;
  text-align: center;
  background: rgba(0,0,0,0.33);
  position: fixed;
  width: 100%;
  margin-top: -5px;
}
footer div{
  display: initial;
}
footer img{
  margin: 5px;
}
footer p{
  color: white;
}
#Comment{
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  padding: 2px;
}
#Reservation{
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  padding: 2px;
}
.note{
  width: 54.5dvmax;
  margin: 1dvmax 2dvmax;
  margin-top: -2dvmax;
}
.Comment_fp{
  display: block;
  align-items: center;
  margin-left: 17.5lvw;
}
.review{
  border-radius: 5px;
  color: white;
  background: olivedrab;
  height: 30px;
  width: 100px;
  margin-left: 55lvmax;
  margin-bottom: 10px;
}
.display_data_text td{
  min-height: 20px;
  width: 90dvmax;
  background: rgba(255,255,255,.50);
  border-radius: 5px;
  margin: 5px;
  text-align: start;
}*/